body {
    background-image: url("D:/Téléchargements/Page_avion.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteneur {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30%;
    gap: 25px;
}

button {
    font-size: 1.5rem;
    padding: 1%;
    border-style: none;
    cursor: pointer;
    border-radius: 15px;
}