.itineraire {
    width: auto;
    max-width: 45%;
    align-items: end;
    margin: 2%;
}

.avion {
    width: auto;
    max-width: 45%;
    align-items: baseline;
    margin: 2%;
}

.conteneur {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin: 150px;
}

button {
    margin-top: 10px;
    width: 350px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    padding: 5px;
}

body {
    background-image: url(https://sdmntpritalynorth.oaiusercontent.com/files/00000000-5c94-6246-8f82-f61bc24de359/raw?se=2025-05-22T15%3A14%3A19Z&sp=r&sv=2024-08-04&sr=b&scid=f1ffcff7-0cf8-536c-8410-17c6d12102ae&skoid=02b7f7b5-29f8-416a-aeb6-99464748559d&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-21T20%3A39%3A53Z&ske=2025-05-22T20%3A39%3A53Z&sks=b&skv=2024-08-04&sig=EaqGjMRcF6NRrRaFPkKHXSKS0D3pbsAP8QhmSIaQMOo%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}